@use '../../styles/variables' as *;
@use '../../styles/typography' as *;


.menu-card {
  h3 {
  color: $color-text-dark;
  font-size: $font-size-xxs;
  font-weight: $font-weight-medium;
  font-family: $font-work-sans;
  line-height: 14px;
    margin-bottom: 4px;
    margin-top: 10px;
  }
}

//Title reusable card
.title-header {
  h3 {
  color: $color-brand-primary;
  font-size: $font-size-xl;
  font-weight: $font-weight-medium;
  font-family: $font-work-sans;
  line-height: 28px;
  margin-bottom: 40px;
  }
}