@use './variables' as *;
@use './auth-variables' as *;
@use './typography' as *;

.auth-layout {
  display: grid;
  grid-template-columns: 54% 46%;
  min-height: 100vh;

  .auth-illustration {
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;

    .logo {
      display: flex;
      flex-direction: row;
      align-self: start;
      margin-left: 97px;
      margin-bottom: 139px;
      margin-top: 106px;
      gap: 10.58px;
      align-items: top;

      .union {
        display: flex;
        align-items: center;
        margin-top: -0.5rem;
        img {
          width: 25px;
          height: 25px;
        }
      }

      .lendsqr {
        display: flex;
        align-items: center;
        img {
          width: 8.5rem;
          height: 2.25rem;
        }
      }
    }

    img {
      width: 37.5rem;
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  .auth-form {
    padding: $auth-container-padding;
    display: flex;
    justify-content: center;
    // align-items: center;
    font-family: $font-avenir-next;
    // border: $auth-form-border;
    box-shadow: 
      $auth-form-shadow-primary,
  }

  @media (max-width: $auth-mobile-breakpoint) {
    grid-template-columns: 1fr;

    .auth-illustration {
      display: none;
    }

    .auth-form {
      padding: $auth-container-padding-mobile;
    }
  }
}


