// color variables
$color-brand-primary: #213f7d;     
$color-brand-secondary: #39cdcc;   
$color-brand-accent: #5718ff;      
$color-brand-pink: #df18ff;        


$color-white: #ffffff;
$color-off-white: #fbfbfb;      
$color-black: #000000;
$color-text-dark: #545f7d;         
$color-text-light: #000000cc;      
$color-border-gray: #c4c4c4;       
$color-gray-tint: #545f7d0a;       
$color-gray-tint-2: #545f7d24;     
$color-gray-tint-3: #545f7d26;     

// overlay and transparency
$color-overlay-light: #213f7d0f;  
$color-overlay-mid: #213f7d1a;     

$color-success: #39cd62;           
$color-error: #e4033b;            
$color-warning: #e9b200;           
$color-danger: #f55f44;            
$color-pink-accent: #ff3366;       
