.dummy {
  /* Search for anything */
/* Dashboard */

/* nav link */

position: absolute;
left: 0%;
right: 0%;
top: 18.68%;
bottom: 78.78%;



/* base */

position: absolute;
width: 283px;
height: 40px;
left: 0px;
top: 294px;

background: #39CDCC;
opacity: 0.06;


/* stripe */

position: absolute;
width: 3px;
height: 40px;
left: 0px;
top: 294px;

background: #39CDCC;


/* Users */

position: absolute;
left: 10.6%;
right: 64.66%;
top: 19.31%;
bottom: 79.48%;



/* Users */

position: absolute;
width: 44px;
height: 19px;
left: 56px;
top: 304px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */

color: #213F7D;



/* user-friends 1 */

position: absolute;
left: 10.6%;
right: 83.75%;
top: 19.5%;
bottom: 79.68%;



/* Vector */

position: absolute;
left: 58.8%;
right: 0%;
top: 12.5%;
bottom: 12.5%;

background: #213F7D;
opacity: 0.4;


/* Vector */

position: absolute;
left: 0%;
right: 40%;
top: 6.25%;
bottom: 6.25%;

background: #213F7D;





}