.dummy {

  /* SHOW */

font-family: 'Avenir Next';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;

color: #39CDCC;

/* Forgot PASSWORD? */
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height */
text-align: right;
letter-spacing: 0.1em;
text-transform: uppercase;

color: #39CDCC;

/* Primary CTA */

position: absolute;
width: 447px;
height: 48px;
left: 836px;
top: 563px;



/* base */

box-sizing: border-box;

position: absolute;
left: 58.06%;
right: 10.9%;
top: 62.56%;
bottom: 32.11%;

background: #39CDCC;
border: 1px solid rgba(84, 95, 125, 0.15);
border-radius: 8px;


/* Dashboard */


font-family: 'Avenir Next';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 19px;
/* identical to box height */
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;

/* 6 */
color: #FFFFFF;

border: 1px solid rgba(84, 95, 125, 0.15);

background: #39CDCC;


}